.notification{
  padding: 10px;
  margin:10px;
  font-family: sans-serif;
  max-height: 100%;
}

.top-right{
  position:fixed;
  top:20px;
  right:20px;
}

.center{
  position: fixed;
  top:20px;
  right:50%;
  transform: translate(50%, 0);
}

.top-left{
  position:fixed;
  top:20px;
  left:20px;
}
.center-middle{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}
.bottom-right{
  position:fixed;
  bottom:20px;
  right:20px;
}

.bottom-left{
  position:fixed;
  bottom:20px;
  left:20px;
}
